In [1]:
import pandas as pd

# Series

In [2]:
data = [1, 2, 3, 4, 5]

In [6]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
index = ['Linha ' +str(i) for i in range(5)]

In [15]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [16]:
s = pd.Series(data, index=index)

In [17]:
s

Linha 0   NaN
Linha 1   NaN
Linha 2   NaN
Linha 3   NaN
Linha 4   NaN
dtype: float64

In [12]:
data = {'Linha' + str(i): i + 1 for i in range(5)}

In [13]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [18]:
s = pd.Series(data)

In [19]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [20]:
s1 = s +2 
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [21]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## DataFrame

In [22]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [23]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [28]:
df1 = pd.DataFrame(data, index= index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [31]:
coluna = ['Coluna' + str(i) for i in range(3)]
coluna

['Coluna0', 'Coluna1', 'Coluna2']

In [33]:
df1 = pd.DataFrame(data, index= index, columns= coluna)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [34]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [35]:
df3 = pd.DataFrame(data)

In [36]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9