# Relatório de Análise IV

## Seleção e Frequências

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22575,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### 1)  Selecione somente os imóveis classificados com tipo 'Apartamento'.

In [9]:
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [12]:
n1 = dados[selecao].shape[0]
print(f'Existem {n1} imóveis do tipo Apartamento')

Existem 19532 imóveis do tipo Apartamento

### 2) Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [32]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

In [35]:
n2 = dados[selecao].shape[0]
print(f'Existem {n2} imóveis do tipo Casa, Casa de Condomínio e Casa de Vila.')

Existem 2212 imóveis do tipo Casa, Casa de Condomínio e Casa de Vila.

### 3) Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [41]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)

In [42]:
n3 = dados[selecao].shape[0]
print(f'Existem {n3} imóveis com área entre 60 e 100 metros quadrados.')

Existem 8719 imóveis com área entre 60 e 100 metros quadrados.

### 4) Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [45]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

In [49]:
n4 = dados[selecao].shape[0]
print(f'Existem {n4} imóveis ue tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.')

Existem 41 imóveis ue tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.